# Virtualenvs
venv/
XRay/
XRay-venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Logs and local settings
*.log
*.sqlite3
*.db
*.DS_Store
.cache/
.parquet/
*.parquet

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# VSCode settings (optional if you use it)
.vscode/

# PyCharm settings
.idea/

# Test results
htmlcov/
coverage.xml
*.cover
.pytest_cache/

# Model files (if saving models locally)
*.pt
*.pth
trained_models/